.footer {
    display: flex;
    margin: 60px 0;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
}

.footer > img {
    object-fit: contain;
    height: 150px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

h3 {
    margin-bottom: 10px;
}

.footer__socialItems > ul {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        margin-top: 10px;
    }

    ul {
        display: flex;
        width: 250px;
        justify-content: space-between;
    }

    .footer > img {
        margin-top: -20px;
    }
}