.header {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.header__nav > ul {
    list-style-type: none;
    display: flex;
    cursor: pointer;
}

.header__nav > ul > li {
    padding: 10px;
}

.header__nav > ul > li:hover {
    color: white;
}