.options {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 33%;
    margin: 0 auto;
}

.options > img {
    object-fit: contain;
    height: 120px;
    margin-top: 10px;
}

.options__title {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

.options > p {
    text-align: left;
    padding: 1rem;
}

.options__order {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    cursor: pointer;
}

.options__order > p {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .options {
     width: 90%;
     margin-bottom: 20px;
    }

    .options__order {
        margin: 0 auto;
    }
 }