.testiComment {
    width: 150px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
}

.testiComment__name {
    display: flex;
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.testiComment__name > p {
    font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
    .testiComment {
        margin-bottom: 20px;
    }
 }